<mat-sidenav-container hasBackdrop="false" fxFlexFill>
  <mat-sidenav #sidenav mode="over" fixedInViewport="true">
    <mat-nav-list fxLayoutGap="20px" fxLayout="column" fxFlex>
      <a
        class="mat-button"
        [ngClass]="{ 'link-active': isActive() }"
        routerLink="/home"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span class="mat-button-wrapper">
          <img alt="tehwol.fi" class="nav-logo" src="../../favicon.svg" />
          <span>Home </span>
        </span> </a
      ><a
        class="mat-button"
        routerLink="/portfolio"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span class="mat-button-wrapper"> <span>Portfolio</span> </span> </a
      ><a
        class="mat-button"
        routerLink="/wordlist-generator"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span class="mat-button-wrapper">
          <span>Wordlist Generator</span>
        </span>
      </a>
      <a
        class="mat-button"
        target="_blank"
        href="https://github.com/tehw0lf"
        mat-list-item
      >
        <span class="mat-button-wrapper">
          <img alt="tehwol.fi" class="nav-logo" src="assets/icons/github.png" />
          <span>GitHub</span>
        </span>
      </a>
      <button id="menu" type="button" (click)="toggleSidenav()" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content" fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
