@import "src/assets/styles/config.scss";

.left-nav-group {
  align-self: flex-start;
  display: flex;
}

.right-nav-group {
  align-self: flex-end;
  display: flex;
}

.mat-button {
  color: $linkcolor;
  vertical-align: middle;
  line-height: 36px;
  font-size: 18px;
  margin: 0 10px 0 0;
  text-align: center;
  text-decoration: none;
}

.nav-header {
  height: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-logo {
  height: 20px;
  margin: 0 4px 0 0;
}
