<nav class="nav-header">
  <div class="left-nav-group">
    <a
      class="mat-button"
      mat-button=""
      routerLink="/home"
      routerLinkActive="active"
      href="/home"
    >
      <span class="mat-button-wrapper">
        <img alt="tehwol.fi" class="nav-logo" src="../../favicon.png" />
        <span>Home </span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
  <div class="right-nav-group">
    <a
      class="mat-button"
      mat-button=""
      target="_blank"
      href="https://github.com/tehw0lf"
    >
      <span class="mat-button-wrapper">
        <img alt="tehwol.fi" class="nav-logo" src="assets/icons/github.png" />
        <span>GitHub</span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
</nav>
