/* Font */
$font: Roboto, 'Helvetica Neue', sans-serif;
$fontsize-button-md: 24px;

/* Colors */
$bgcolor-main: #1a1a1a;
$bgcolor-nav: rgba(34, 34, 34, 0.75);
$fontcolor: #437da8;
$linkcolor: #cc7832;
