<div>
  <h1 class="mat-headline-5">{{ 'home.welcome' | translate }}</h1>

  <tehw0lf-carousel
    #librariesCarousel="carousel"
    section="libraries"
    [label]="'home.libraries' | translate"
    [itemCount]="libraries().length"
  >
    @for (library of libraries(); track library.route; let i = $index) {
      <tehw0lf-preview-card
        class="carousel-slide"
        [card]="library"
        [index]="i"
        [total]="libraries().length"
        [loadPreview]="librariesCarousel.shouldLoad(i)"
      />
    }
  </tehw0lf-carousel>

  <tehw0lf-carousel
    #appsCarousel="carousel"
    section="apps"
    [label]="'home.apps' | translate"
    [itemCount]="apps.length"
  >
    @for (app of apps; track app.route; let i = $index) {
      <tehw0lf-preview-card
        class="carousel-slide"
        [card]="app"
        [index]="i"
        [total]="apps.length"
        [loadPreview]="appsCarousel.shouldLoad(i)"
      />
    }
  </tehw0lf-carousel>
</div>
