.embed-wrapper {
  position: relative;
  height: 100vh;
}

.embed-toolbar {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
}

.embed-frame {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}
