<mat-toolbar [ngClass]="themeService.theme()">
  <mat-toolbar-row class="nav-row">
    <button
      id="menu"
      type="button"
      (click)="toggleSidenav()"
      [style]="burgerStyle"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div [style]="buttonStyle" class="flex-row flex-fxflex">
      <div class="nav-item">
        <a
          mat-button
          [ngClass]="{ 'link-active': isActive() }"
          routerLink="/home"
          routerLinkActive="link-active"
        >
          <span class="mat-button-wrapper">
            <img alt="tehwolf.de" class="nav-logo" src="../../favicon.svg" />
            <span>Home</span>
          </span>
        </a>
      </div>
      <div class="nav-item">
        <a mat-button routerLink="/portfolio" routerLinkActive="link-active">
          <span class="mat-button-wrapper"> <span>Portfolio</span> </span>
        </a>
      </div>
      <div class="nav-item">
        <a
          mat-button
          routerLink="/wordlist-generator"
          routerLinkActive="link-active"
        >
          <span class="mat-button-wrapper">
            <span>Wordlist Generator</span>
          </span>
        </a>
      </div>
    </div>
    @if (themeService.theme() === 'dark') {
      <button
        id="light"
        class="light-theme-button flex-gap-20"
        type="button"
        (click)="switchToLight()"
        [style]="buttonStyle"
        mat-icon-button
      >
        <mat-icon>light_mode</mat-icon>
      </button>
    } @else {
      <button
        id="dark"
        class="dark-theme-button flex-gap-20"
        type="button"
        (click)="switchToDark()"
        [style]="buttonStyle"
        mat-icon-button
      >
        <mat-icon>dark_mode</mat-icon>
      </button>
    }
    <div class="flex-gap-20" [style]="buttonStyle">
      <div class="nav-item">
        <a mat-button target="_blank" href="https://github.com/tehw0lf">
          <span class="mat-button-wrapper">
            <img
              alt="tehwolf.de"
              class="nav-logo"
              src="assets/icons/github.png"
            />
            <span>GitHub</span>
          </span>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
