@import '../../../assets/styles/custom-theme.scss';

.link-active {
  border-bottom: 2px solid $linkcolor;
}

.mat-button {
  color: $linkcolor;
  vertical-align: middle;
  line-height: 36px;
  font-size: $fontsize-button-md;
  margin: 0 10px 0 0;
  text-align: center;
  text-decoration: none;
}

.mat-icon-button {
  color: $linkcolor;
}

.dark-theme-button {
  color: black;
  height: 48px;
  width: 48px;
  margin: 4px 4px 4px 4px;
}

.light-theme-button {
  color: yellow;
  height: 48px;
  width: 48px;
  margin: 4px 4px 4px 4px;
}

.nav-logo {
  height: 24px;
  width: 24px;
  margin: 0 4px 0 0;
}

.nav-row {
  background: $bgcolor-nav;
  border-radius: 4px;
  backdrop-filter: blur(15px);
}

.mat-toolbar-multiple-rows {
  border-radius: 4px;
  backdrop-filter: blur(15px);
}
