<mat-toolbar
  [ngClass]="{
    'light-theme': (isLight | async) === true,
    'dark-theme': (isLight | async) === false
  }"
>
  <mat-toolbar-row class="nav-row d-flex flex-row justify-content-between">
    <button
      [ngStyle]="buttonStyle"
      class="btn d-md-none"
      id="menu"
      type="button"
      (click)="toggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="d-none d-md-flex gap-3">
      <a
        [ngStyle]="buttonStyle"
        [ngClass]="{ 'link-active': isActive() }"
        routerLink="/home"
        routerLinkActive="link-active"
        class="btn btn-link nav-item"
      >
        <span class="mat-button-wrapper">
          <img
            alt="tehwol.fi"
            class="nav-logo align-center"
            src="../../favicon.svg"
          />
          <span>Home</span>
        </span>
      </a>
      <a
        [ngStyle]="buttonStyle"
        routerLink="/portfolio"
        routerLinkActive="link-active"
        class="btn btn-link nav-item"
      >
        <span class="mat-button-wrapper">
          <span>Portfolio</span>
        </span>
      </a>
      <a
        [ngStyle]="buttonStyle"
        routerLink="/wordlist-generator"
        routerLinkActive="link-active"
        class="btn btn-link nav-item"
      >
        <span class="mat-button-wrapper">
          <span>Wordlist Generator</span>
        </span>
      </a>
    </div>

    <div class="d-none d-md-flex gap-3">
      <button
        *ngIf="(isLight | async) === false"
        id="light"
        class="btn btn-link light-theme-button d-none d-md-block align-items-center nav-item"
        type="button"
        (click)="switchToLight()"
      >
        <mat-icon class="d-none d-md-block align-center nav-logo"
          >light_mode</mat-icon
        >
      </button>
      <button
        *ngIf="(isLight | async) === true"
        id="dark"
        class="btn btn-link dark-theme-button d-none d-md-block align-items-center nav-item"
        type="button"
        (click)="switchToDark()"
      >
        <mat-icon class="d-none d-md-block align-center nav-logo"
          >dark_mode</mat-icon
        >
      </button>
      <div class="d-none d-md-block">
        <a
          class="btn btn-link nav-item"
          [ngStyle]="buttonStyle"
          target="_blank"
          href="https://github.com/tehw0lf"
        >
          <span class="mat-button-wrapper">
            <img
              alt="tehwol.fi"
              class="nav-logo align-center"
              src="assets/icons/github.png"
            />
            <span>GitHub</span>
          </span>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
