<mat-toolbar>
  <mat-toolbar-row class="nav-row">
    <button
      id="menu"
      type="button"
      (click)="toggleSidenav()"
      fxLayoutGap="20px"
      fxShow="true"
      fxHide.gt-sm
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div
      fxLayoutGap="20px"
      fxShow="true"
      fxHide.lt-md="true"
      fxLayout="row"
      fxFlex
    >
      <div class="nav-item">
        <a
          mat-button
          [ngClass]="{ 'link-active': isActive() }"
          routerLink="/home"
          routerLinkActive="link-active"
        >
          <span class="mat-button-wrapper">
            <img alt="tehwol.fi" class="nav-logo" src="../../favicon.svg" />
            <span>Home</span>
          </span>
        </a>
      </div>
      <div class="nav-item">
        <a mat-button routerLink="/portfolio" routerLinkActive="link-active">
          <span class="mat-button-wrapper"> <span>Portfolio</span> </span>
        </a>
      </div>
      <div class="nav-item">
        <a
          mat-button
          routerLink="/wordlist-generator"
          routerLinkActive="link-active"
        >
          <span class="mat-button-wrapper">
            <span>Wordlist Generator</span>
          </span>
        </a>
      </div>
    </div>
    <button
      *ngIf="(isLight | async) === false"
      id="light"
      class="light-theme-button"
      type="button"
      (click)="switchToLight()"
      fxLayoutGap="20px"
      mat-icon-button
    >
      <mat-icon>light_mode</mat-icon>
    </button>
    <button
      *ngIf="(isLight | async) === true"
      id="dark"
      class="dark-theme-button"
      type="button"
      (click)="switchToDark()"
      fxLayoutGap="20px"
      mat-icon-button
    >
      <mat-icon>dark_mode</mat-icon>
    </button>
    <div fxLayoutGap="20px" fxShow="true" fxHide.lt-md="true">
      <div class="nav-item">
        <a mat-button target="_blank" href="https://github.com/tehw0lf">
          <span class="mat-button-wrapper">
            <img
              alt="tehwol.fi"
              class="nav-logo"
              src="assets/icons/github.png"
            />
            <span>GitHub</span>
          </span>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
