<mat-sidenav-container
  class="flex-fxflex-fill"
  [ngClass]="themeService.theme()"
  hasBackdrop="false"
>
  <mat-sidenav #sidenav mode="over" fixedInViewport="true" role="navigation" aria-label="Mobile navigation menu">
    <mat-nav-list
      [ngClass]="themeService.theme()"
      class="flex-column flex-gap-20 flex-fxflex"
    >
      <a
        [ngClass]="{ 'link-active': isActive() }"
        routerLink="/home"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span>
          <img alt="tehwolf.de" class="nav-logo" src="../../favicon.svg" />
          <span>Home </span>
        </span> </a
      ><a routerLink="/portfolio" routerLinkActive="link-active" mat-list-item>
        <span>Portfolio</span> </a
      ><a
        routerLink="/wordlist-generator"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span>
          <span>Wordlist Generator</span>
        </span>
      </a>
      <a
        routerLink="/contact-form"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span>
          <span>Contact Form (Demo)</span>
        </span>
      </a>
      <a
        class="mat-mdc-list-item"
        target="_blank"
        href="https://github.com/tehw0lf"
        mat-list-item
      >
        <span>
          <img
            alt="tehwolf.de"
            class="nav-logo"
            src="assets/icons/github.png"
          />
          <span>GitHub</span>
        </span>
      </a>
      <div>
        <button
          id="menu"
          type="button"
          (click)="toggleSidenav()"
          mat-icon-button
          aria-label="Close navigation menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
        @if (themeService.theme() === 'dark') {
          <button
            id="light"
            class="light-theme-button flex-gap-20"
            type="button"
            (click)="switchToLight()"
            mat-icon-button
            aria-label="Switch to light theme"
          >
            <mat-icon>light_mode</mat-icon>
          </button>
        }
        @if (themeService.theme() === 'light') {
          <button
            id="dark"
            class="dark-theme-button flex-gap-20"
            type="button"
            (click)="switchToDark()"
            mat-icon-button
            aria-label="Switch to dark theme"
          >
            <mat-icon>dark_mode</mat-icon>
          </button>
        }
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="themeService.theme()"
    class="main-content flex-fxflex-fill"
    (click)="closeSidenav()"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
