@import 'src/assets/styles/config.scss';

.meta-container {
  margin-left: 20%;
  margin-top: 2%;
  max-width: 40%;

  .form-container {
    float: left;

    .charset {
      width: 304px;
    }

    .charset-label {
      color: $linkcolor;
    }

    .charset-container {
      .add-charset {
        color: $linkcolor;
      }

      .drag-indicator {
        color: $linkcolor;
        margin-right: 10px;
      }

      .clone-charset {
        color: $linkcolor;
        margin-left: 10px;
        margin-right: 10px;
      }
      .remove-charset {
        color: $linkcolor;
        margin-right: 10px;
      }
    }

    .charset-container:not(:last-child) {
      .add-charset {
        display: none;
      }
    }

    .generate-wordlist {
      color: $linkcolor;
      margin-left: 34px;
      margin-bottom: 10px;
    }

    .download-wordlist {
      color: $linkcolor;
      margin-bottom: 10px;
    }
  }

  .wordlist-container {
    float: right;

    .wordlist-header {
      margin-top: 0px;
    }

    .wordlist {
      margin-left: 5em;
    }
  }
}
