@import 'src/assets/styles/config.scss';

.meta-container {
  margin-left: 20%;
  margin-top: 2%;
  max-width: 40%;

  .form-container {
    float: left;

    .charset {
      width: 304px;
    }

    .charset-label {
      color: $linkcolor;
    }

    .add-charset {
      color: $linkcolor;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .generate-wordlist {
      color: $linkcolor;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .download-wordlist {
      color: $linkcolor;
      margin-bottom: 10px;
    }
  }

  .wordlist-container {
    float: right;

    .wordlist-header {
      margin-top: 0px;
    }

    .wordlist {
      margin-left: 5em;
    }
  }
}
