<div class="meta-container">
  <div class="form-container">
    <button
      class="generate-wordlist"
      mat-raised-button
      (click)="generateWordlist()"
    >
      Generate wordlist
    </button>
    <button
      class="download-wordlist"
      mat-raised-button
      *ngIf="this.wordlist"
      (click)="downloadDialog()"
    >
      Download wordlist
    </button>
    <form [formGroup]="charsetForm">
      <div formArrayName="charsets">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div
            class="charset-container"
            cdkDrag
            *ngFor="let charset of charsets.controls; let i = index"
          >
            <mat-icon class="drag-indicator">drag_indicator</mat-icon>
            <mat-form-field class="charset" appearance="fill">
              <mat-label class="charset-label">
                character set for string position {{ i }}
              </mat-label>
              <input
                matInput
                type="text"
                id="position-{{ i }}"
                [formControlName]="i"
              />
            </mat-form-field>
            <button
              mat-raised-button
              class="clone-charset"
              (click)="cloneCharset(i)"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
            <button
              mat-raised-button
              class="add-charset"
              (click)="addCharset()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="wordlist-container" *ngIf="wordlist && wordlist.length < 100">
    <h3 class="wordlist-header">Generated wordlist:</h3>
    <code>
      <div class="wordlist" *ngFor="let word of wordlist">
        <div class="word">{{ word }}</div>
      </div>
    </code>
  </div>
</div>
