<form [formGroup]="charsetForm">
  <div formArrayName="charsets">
    <div *ngFor="let charset of charsets.controls; let i = index">
      <label>Character set for string position {{ i }}: </label>
      <input matInput type="text" [formControlName]="i" />
    </div>
    <button (click)="addCharset()">Add string position</button>
  </div>
  <button (click)="generateWordlist()">Generate wordlist</button>
</form>

<div class="wordlist-container">
  <ng-container *ngFor="let word of wordlist">
    <div class="word">{{ word }}</div>
  </ng-container>
</div>
