<div *ngIf="showOwn">
  <h1 class="mat-headline">My Repos</h1>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
    <app-repo-card
      *ngFor="let githubRepo of ownGithubRepositories"
      [githubRepo]="githubRepo"
      [isCopied]="isCopiedToClipboard(githubRepo)"
      (copiedToClipboardEvent)="copiedToClipboard(githubRepo)"
      class="repository-card"
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      fxLayoutAlign="stretch"
    >
    </app-repo-card>
  </div>
</div>
<div *ngIf="showForked">
  <h1 class="mat-headline">Forked Repos</h1>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
    <app-repo-card
      *ngFor="let githubRepo of forkedGithubRepositories"
      [githubRepo]="githubRepo"
      [isCopied]="isCopiedToClipboard(githubRepo)"
      (copiedToClipboardEvent)="copiedToClipboard(githubRepo)"
      class="repository-card"
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      fxLayoutAlign="stretch"
    ></app-repo-card>
  </div>
</div>
