@import '../../../assets/styles/global.scss';

.link-active {
  border-bottom: 2px solid $linkcolor;
}

.mat-mdc-button {
  color: $linkcolor !important;
  vertical-align: middle;
  line-height: 36px;
  font-size: 18px;
  margin: 0 10px 0 0;
  text-align: center;
  text-decoration: none;
}

.mat-nav-list.light-theme {
  background-color: #d4d4d4;
}

.mat-mdc-icon-button {
  color: $linkcolor;
}

.nav-logo {
  height: 20px;
  width: 20px;
  margin: 0 4px 0 0;
}

.mat-drawer-container.dark {
  background-color: #1a1a1a;

  .mat-drawer {
    background-color: #1a1a1a;
  }
}

.mat-drawer-container.light {
  background-color: white;

  .mat-drawer {
    background-color: white;
  }
}

.main-content {
  color: $fontcolor;
  padding: 32px 0 0 32px;
}

.dark-theme-button {
  color: black;
  height: 48px;
  width: 48px;
  margin: 4px 4px 4px 4px;
}

.light-theme-button {
  color: yellow;
  height: 48px;
  width: 48px;
  margin: 4px 4px 4px 4px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.flex-gap-20 {
  margin-right: 20px;
}

.flex-fxflex {
  flex: 1 1 0%;
}

.flex-fxflexfill {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}
