<mat-sidenav-container
  [ngClass]="{
    'light-theme': (isLight | async) === true,
    'dark-theme': (isLight | async) === false
  }"
  hasBackdrop="false"
  fxFlexFill
>
  <mat-sidenav #sidenav mode="over" fixedInViewport="true">
    <mat-nav-list
      [ngClass]="{
        'light-theme': (isLight | async) === true,
        'dark-theme': (isLight | async) === false
      }"
      fxLayoutGap="20px"
      fxLayout="column"
      fxFlex
    >
      <a
        [ngStyle]="buttonStyle"
        mat-button
        [ngClass]="{ 'link-active': isActive() }"
        routerLink="/home"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span class="mat-button-wrapper">
          <img alt="tehwol.fi" class="nav-logo" src="../../favicon.svg" />
          <span>Home </span>
        </span> </a
      ><a
        [ngStyle]="buttonStyle"
        mat-button
        routerLink="/portfolio"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span class="mat-button-wrapper"> <span>Portfolio</span> </span> </a
      ><a
        [ngStyle]="buttonStyle"
        mat-button
        routerLink="/wordlist-generator"
        routerLinkActive="link-active"
        mat-list-item
      >
        <span class="mat-button-wrapper">
          <span>Wordlist Generator</span>
        </span>
      </a>
      <a
        [ngStyle]="buttonStyle"
        mat-button
        target="_blank"
        href="https://github.com/tehw0lf"
        mat-list-item
      >
        <span class="mat-button-wrapper">
          <img alt="tehwol.fi" class="nav-logo" src="assets/icons/github.png" />
          <span>GitHub</span>
        </span>
      </a>
      <div>
        <button
          id="menu"
          type="button"
          (click)="toggleSidenav()"
          mat-icon-button
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button
          *ngIf="(isLight | async) === false"
          id="light"
          class="light-theme-button"
          type="button"
          (click)="switchToLight()"
          fxLayoutGap="20px"
          mat-icon-button
        >
          <mat-icon>light_mode</mat-icon>
        </button>
        <button
          *ngIf="(isLight | async) === true"
          id="dark"
          class="dark-theme-button"
          type="button"
          (click)="switchToDark()"
          fxLayoutGap="20px"
          mat-icon-button
        >
          <mat-icon>dark_mode</mat-icon>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="{
      'light-theme': (isLight | async) === true,
      'dark-theme': (isLight | async) === false
    }"
    class="main-content"
    fxFlexFill
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
