@use 'assets/styles/custom-theme';
@use 'assets/styles/global';

* {
  font-family: global.$font;
}

body.dark {
  background-color: #1a1a1a;
}

body.light {
  background-color: white;
}

.mat-mdc-button {
  letter-spacing: normal !important;
}
