/* Font */
$font: Roboto, "Helvetica Neue", sans-serif;
$fontsize: 20px;
$fontsize-button-md: 24px;
$fontsize-mat-footer-span: 12px;
$fontsize-button-clippy: 20px;

/* Colors */
$bgcolor-main: #1a1a1a;
$bgcolor-nav: lighten(#1a1a1a, 1%);
$fontcolor: #437da8;
$linkcolor: #cc7832;
$card-fontcolor: lightgray;

/* Line Height */
$line-height-button-clippy: 24px;
