name: showcase and library pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: external workflow
    uses: tehw0lf/workflows/.github/workflows/build-test-publish.yml@main
    permissions:
      actions: write
      contents: write
      packages: write
      id-token: write
      security-events: write
    with:
      tool: "npm"
      format: "run format"
      # lint: "run affected:lint" # temporarily disabled due to false positives
      test: "run test:ci"
      e2e: "run e2e"
      build_branch: "run affected:build"
      build_main: "run build --skip-nx-cache"
      event_name: ${{ github.event_name }}
      docker_pre: "[ -d ./dist/apps ] && mv -fv avatar* dist/apps/tehwolfde/browser/"
      docker_meta: '[{"name":"tehwolf.de","file":"Dockerfile"}]'
      libraries: "contact-form,git-portfolio,wordlist-generator"
      library_path: "dist/libs"
      artifact_path: "dist"
      platforms: "linux/arm64"
      sbom_package_lock_only: true
    secrets:
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
